<html>
    <head>
        <link rel="stylesheet" href="css/foo.css">
        <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">
    </head>
    <header>
        <h1><h1><a href="#" class="title">Twitch Audio-only retriever</a></h1></h1>
    </header>
    <body>
        <section>
            <div class="searchbar">
                <form action="/get" method="GET">
                    <div id="searchform">
                        <input type="text" class="input" name="channelname" placeholder="Channel" autofocus>
                        <!-- errors will go here -->

                        <button type="submit" class="btn btn-success" style="border: none; background-color: transparent;">
                            <i class="fa fa-search fa-lg" id="searchicon"></i>
                        </button>

                    </div>
                </form>
            </div>
        </section>
    </body>
    <footer>
        <p>Built by Sequoia | Version: twitchaudio985c962</p>
    </footer>
</html>