<html>
    <head>
        <link rel="stylesheet" href="css/foo.css">
        <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">
    </head>
    <header>
        <h1><h1><a href="#" class="title">Twitch Audio-only retriever</a></h1></h1>
    </header>
    <body>
        <section style="text-align: center">
            <span id="title" style="color: rgba(133, 228, 16, 0.74)">Success!</span>
            <br>
            <span id="title2" style="color: #333">Opening stream right away!</span>
            <br>
            <br>
            <span id="subtext">If it doesn't start to download/stream automatically, you can use <a href="#">this link</a> instead</span>
        </section>
    </body>
    <footer>
        <p>Built by Sequoia | Version: twitchaudio985c962</p>
    </footer>
</html>