<html>

<head>
    <link rel="stylesheet" href="css/main.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<header>
<span id="headertitle">Twitch Audio-only retriever</span>
</header>
<body>
    <section>
        <div id="content">
           <span id="title" style="color: rgba(133, 228, 16, 0.74)">Success!</span>
           <span id="title2" style="color: #333">Opening stream right away!</span>
           <span id="subtext">If it doesn't start to download/stream automatically, you can use <a href="#">this link</a> instead</span>
       </div>
    </section>
</body>
<footer>
    <p>Built by Sequoia | Version: twitchaudio985c962</p>
</footer>
</html>