@import 'jeet'
@import 'reset.css'

//edit()

h1
  font-size 7.7vw
  font-family: 'Open Sans', sans-serif
  font-weight: bold


.title
  text-decoration none
  color: rgba(166, 142, 210, 0.76)
  &:hover
    color rgba(121, 94, 165, 0.76)

section
  center(80%, 30px)
  padding-top 2em

body
  background-color: rgba(166, 142, 210, 0.76)

header
  height 10.7vw
  background-color #fff
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12)
  width 100%
  h1
    text-align center
    line-height 1.5em


aside
  stack()
  @media (min-width 700px)
    col(1/3)
  a
    display block

.posts
  stack()
  @media (min-width 700px)
    col(2/3)

.post
  img
    col(1/3)
  article
    col(2/3)

.searchbar
  center(60%)
  ::-webkit-input-placeholder
    color: #FFF
    opacity 0.5
  input
    width 100%
    height 1.4em
    font-size 2em
    padding-top: 5px
    padding-bottom: 5px
    background-color: transparent
    border-width: medium medium 3px
    border-style: none none solid
    border-top: medium none
    border-right: medium none
    border-left: medium none
    border-radius: 0px
    color: #FFF
    outline: medium none
    text-align center

footer
  position: absolute
  bottom: 0px
  width: 100%
  height: 40px
  p
    text-align center
    top 20%
    position relative
    center(100%)
    font-family 'Open Sans', sans-serif
    color #333

@media (min-width 700px)
  h1
    font-size 3em
  header
    height 4em